.tooltip-arrow-left {
  border-width: 15px 20px 15px 0;
  border-color: transparent #d1d5db transparent transparent;
  transform: translateY(-50%);
}

.tooltip-arrow-right {
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #d1d5db;
  transform: translateY(-50%);
}

.no-scroll {
  overflow: hidden;
}
