@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.scrollbar-hidden {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  /* Webkit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  /* width: 4px; */
  position: absolute;
  z-index: 5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  opacity: 0;
  border-radius: 5px;
  position: absolute;
  z-index: 5;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #888; /* Set your hover thumb color */
}

/* app.css */
.dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add opacity transition */
  opacity: 0; /* Set initial opacity to 0 */
}

.dropdown.open {
  max-height: 200px; /* Set your desired max height */
  opacity: 1; /* Set opacity to 1 when open */
}

.rotate-180 {
  transform: rotate(180deg);
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

#steps-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #4caf50; /* Change this to your desired color */
  border: 2px solid #ffffff; /* Add a border if needed */
  border-radius: 50%;
  cursor: pointer;
}

/* Firefox */
#steps-range::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #4caf50; /* Change this to your desired color */
  border: 2px solid #ffffff; /* Add a border if needed */
  border-radius: 50%;
  cursor: pointer;
}

.signin:before {
  content: "";
  display: block;
  width: 35%;
  height: 1px;
  background: #dfe0e6;
  left: 0;
  top: 50%;
  position: absolute;
}
.signin:after {
  content: "";
  display: block;
  width: 35%;
  height: 1px;
  background: #dfe0e6;
  right: 0;
  top: 50%;
  position: absolute;
}

.email:before {
  content: "";
  display: block;
  width: 30%;
  height: 1px;
  background: #dfe0e6;
  left: 0;
  top: 50%;
  position: absolute;
}
.email:after {
  content: "";
  display: block;
  width: 30%;
  height: 1px;
  background: #dfe0e6;
  right: 0;
  top: 50%;
  position: absolute;
}
