@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-family: var(--font-arabic);
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.scrollbar-hidden {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  /* Webkit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  /* width: 4px; */
  position: absolute;
  z-index: 5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  opacity: 0;
  border-radius: 5px;
  position: absolute;
  z-index: 5;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #888; /* Set your hover thumb color */
}

/* app.css */
.dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add opacity transition */
  opacity: 0; /* Set initial opacity to 0 */
}

.dropdown.open {
  max-height: 200px; /* Set your desired max height */
  opacity: 1; /* Set opacity to 1 when open */
}

.rotate-180 {
  transform: rotate(180deg);
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

#steps-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #4caf50; /* Change this to your desired color */
  border: 2px solid #ffffff; /* Add a border if needed */
  border-radius: 50%;
  cursor: pointer;
}

/* Firefox */
#steps-range::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #4caf50; /* Change this to your desired color */
  border: 2px solid #ffffff; /* Add a border if needed */
  border-radius: 50%;
  cursor: pointer;
}

.signin:before {
  content: "";
  display: block;
  width: 35%;
  height: 1px;
  background: #dfe0e6;
  left: 0;
  top: 50%;
  position: absolute;
}
.signin:after {
  content: "";
  display: block;
  width: 35%;
  height: 1px;
  background: #dfe0e6;
  right: 0;
  top: 50%;
  position: absolute;
}

.email:before {
  content: "";
  display: block;
  width: 30%;
  height: 1px;
  background: #dfe0e6;
  left: 0;
  top: 50%;
  position: absolute;
}
.email:after {
  content: "";
  display: block;
  width: 30%;
  height: 1px;
  background: #dfe0e6;
  right: 0;
  top: 50%;
  position: absolute;
}

.loading-spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #05cd99;
  border-radius: 11px;
  width: 22px;
  height: 22px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*heading*/
.m1-h h1 {
  color: #242424;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}
.m2-h h2 {
  color: #242424;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.m3-h h3 {
  color: #242424;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.m4-h h5 {
}
.m5-h h5 {
}
.m6-h h5 {
}

/* custom align */
.txt-r {
  text-align: right;
}
.txt-l {
  text-align: left;
}

/*paragrape*/
.p1 p {
  color: #000;

  font-size: 25px;

  font-weight: 400;
}
.p2 p {
  color: #000;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.p3 p {
}
.p4 p {
}
.p5 p {
}

.btn-a {
  background-color: #05cd99;
  border: 1px solid #05cd99;
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
}
.btn-a:hover {
  background-color: transparent;
}
.btn-b {
  background-color: #00191d;
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
}
.btn-b:hover {
  background-color: #05cd99;
}
.btn-c {
  background-color: transparent;
  border: 1px solid #00191d;
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: capitalize;
  color: #00191d;
  font-size: 16px;
}
.btn-c:hover {
  background-color: #00191d;
  color: #fff;
}
.header {
  background: #00191d;
  color: #fff;
}
ul.tlist {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.Bannner {
  position: relative;
  background-image: url("../images/banner.png");
  background-position: center;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 0 0;
}
.ban-ctn {
  text-align: center;
}
.ban-ctn p {
  padding: 20px 0px 40px 0;
}
.blist {
  display: flex;
  justify-content: center;
  gap: 30px;
}
section.builder {
  margin-top: -12%;
}
.bui-img .img {
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 0px #00000059;
}
.n-box h3 {
  margin-bottom: 15px;
}
.n-box {
  box-shadow: 0px 0px 16px 0px #0000002e;
  padding: 55px 45px;
  border-radius: 6px;
  border: 1px solid #05cd99;
  height: 309px;
}
.n-box p {
  margin-bottom: 35px;
}
.n-box a {
  border-bottom: 1px solid #000;
  padding-bottom: 12px;
  color: #000;
}
.cta-ctn h3 {
  color: #05cd99;
}
.cta-ctn p {
  font-size: 20px;
  font-weight: 700;
}
.val h1 {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-size: 120px;
  font-weight: 700;
}
.w-ctn p {
  padding-right: 15%;
}
.n-img .img {
  margin: 0 0 0 auto;
}
.n-ctn h2 {
  margin-bottom: 15px;
}
.n-ctn {
  padding-right: 15%;
}
.ai-ctn {
  padding-left: 25%;
}
.ai-ctn h2 {
  margin-bottom: 15px;
}
.ai-ctn p {
  margin-bottom: 15px;
}

.ai-ctn a {
  border-bottom: 1px solid #05cd99;
  padding-bottom: 12px;
  color: #05cd99;
}
.an-ctn h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.an-ctn p {
  margin-bottom: 10px;
}

.an-ctn a {
  border-bottom: 1px solid #05cd99;
  padding-bottom: 12px;
  color: #05cd99;
}
.app-img {
  text-align: center;
  margin: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.acc-bx > div {
  position: relative;
}
.acc-ctn h3 {
  font-size: 24px;
}
.acc-bx .text-blue-gray-900 h3 {
  color: #05cd99;
}
.acc-bx span {
  position: absolute;
  right: 0;
}
.acc-ctn {
  padding: 10px 150px 10px 0px;
}
section.get-sec {
  margin-bottom: -50px;
  z-index: 1;
  position: relative;
}
.get-bx {
  background-image: url("../images/ft-ban.png");
  text-align: center;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 100px;
}
.get-bx p {
  margin-bottom: 30px;
}
.get-bx h2 {
  margin-bottom: 10px;
}
.footer {
  background-color: #00191d;
  padding: 150px 0 0px 0;
}
.ft-1 p {
  color: #fff;
  padding: 15px 0;
}
ul.so-list > li > a {
  color: #00191d;
  background-color: #fff;
  width: 40px;
  height: 40px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

ul.so-list {
  display: flex;
  gap: 20px;
}
ul.so-list > li > a {
  color: #00191d;
  background-color: #fff;
  width: 40px;
  height: 40px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
ul.so-list > li > a:hover {
  background-color: #05cd99;
}
ul.so-list {
  display: flex;
  gap: 20px;
}

.ft-2 h3 {
  color: #fff;
  margin-bottom: 15px;
}

.n-field input {
  width: 100%;
  height: 49px;
  border-radius: 6px;
  background: #6060607d;
  color: #fff;
  padding: 0 10px;
}

.n-field button {
  color: #fff;
  font-size: 22px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: linear-gradient(116deg, #02e9f9 0%, #0ff57b 99.07%);
  padding: 0 16px;
  border-radius: 6px;
}

.n-field {
  position: relative;
}
.line {
  border-bottom: 1px solid #6060607d;
  padding-bottom: 70px;
}
.copy {
  text-align: center;
  padding: 25px 0;
}
.copy p {
  color: #fff;
}
.cta-ct {
  text-align: right;
}

.workgrid {
  padding: 70px 0;
}
section.app {
  padding-bottom: 90px;
}
.test-sec {
  position: relative;
  background-image: url("../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.test-box {
  padding: 45px 45px;
  border-radius: 6px;
  border: 1px solid #05cd99;

  background: #fff;
}
.tet-h h3 {
  color: #05cd99;
}
.tet-ci {
  display: flex;
  gap: 15px;
  align-items: center;
}

.tet-ci .img {
  border-radius: 50%;
}

.tet-ctn h4 {
  color: #05cd99;
  font-weight: 700;
  font-size: 20px;
}

.tet-ctn p {
  font-size: 13px;
}
.tet-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.tet-c span {
  font-size: 45px;
  color: #05cd99;
}
.slick-slide.slick-active > div {
  margin: 0 10px;
}
.gep-img {
  padding-bottom: 80px;
}
.gep-img .img {
  margin: auto;
}
.dep-ctn p {
  padding: 15px 0;
}
.pd1 {
  padding-bottom: 100px;
}
.dep-ctn {
  padding-left: 19%;
}

.dep-sec {
  position: relative;
  background-image: url("../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.dep-sec::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 83%;
  background-color: #05cd99;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 0;
}
.cir {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #05cd99;
  border-radius: 50%;
  right: 0;
  left: 0;
  margin: auto;
}
.cir1 {
  top: 25%;
}
.cir2 {
  top: 33%;
}
.cir3 {
  bottom: 33%;
}
.cir4 {
  bottom: 37%;
}
/* ========Arabic========= */
main.rg .logo {
  text-align: right;
}

main.rg .logo .img {
  margin: 0 0 0 auto;
}
main.rg ul.tlist {
  justify-content: flex-start;
}
.ft-1.p2.txt-r ul.so-list {
  justify-content: end;
}
.slick-dots {
  bottom: -58px !important;
}
.dep-ctn.txt-r .img {
  margin: 0 0 0 auto;
}

.disable-scroll {
  overflow: hidden;
}

.enable-scroll {
  overflow: auto;
}

/* =====media====== */

@media (max-width: 1440px) {
  .dep-ctn {
    padding-left: 10%;
  }
  .w-ctn p {
    padding-right: 5%;
  }
  .m3-h h3 {
    font-size: 17px;
  }
  .p2 p {
    font-size: 14px;
  }
  .p1 p {
    font-size: 20px;
  }
  .m1-h h1 {
    font-size: 42px;
  }
  .n-box {
    padding: 55px 25px;
  }
}
@media (max-width: 1280px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .test-box {
    padding: 27px 30px;
  }
}
@media (max-width: 1024px) {
  .dep-sec::after,
  .cir {
    display: none;
  }
  .dep-ctn {
    padding-left: 0%;
  }
  .test-box {
    padding: 27px 15px;
  }
  .tet-ctn h4 {
    font-size: 15px;
  }
  .ai-ctn {
    padding-left: 8%;
  }
}
@media (max-width: 980px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .m1-h h1 {
    font-size: 25px;
  }
  .p1 p {
    font-size: 17px;
  }
  .btn-b {
    font-size: 13px;
  }
  .btn-c {
    font-size: 13px;
  }
  .btn-a {
    font-size: 12px;
    padding: 10px 7px;
  }
  ul.tlist a {
    font-size: 12px;
  }
  .Bannner {
    padding: 65px 0 0 0;
    height: 350px;
  }
  .logo .img {
    width: 50%;
  }
  .header {
    padding: 20px 0;
  }
  .m2-h h2 {
    font-size: 25px;
  }
  section.need {
    padding: 40px 0;
  }
  section.need .c-h {
    padding-bottom: 30px;
  }
  .n-box {
    padding: 39px 25px;
    height: 230px;
    margin-bottom: 20px;
  }
  section.cta {
    padding: 30px 0;
    text-align: center;
  }
  section.cta .m2-h h2 {
    font-size: 23px;
  }
  .cta-ct {
    text-align: center;
  }
  section.work {
    padding: 50px 20px;
  }
  .workgrid {
    padding: 30px 0;
  }
  .ai-ctn {
    padding-left: 0;
  }
  section.no-sec.py-20 {
    padding: 30px 0;
  }
  .app-img {
    display: none;
  }
  section.faqs .cta-ctn {
    text-align: center;
  }
  .acc-ctn {
    padding: 10px 10px 10px 0px;
  }
  .get-bx {
    margin: 0 20px;
    height: 200px;
  }
  .footer {
    background-color: #00191d;
    padding: 100px 0 0px 0;
  }
  .line {
    padding-bottom: 15px;
  }
  .blist {
    gap: 5px;
  }
  section.work .blist {
    display: grid;
    gap: 25px;
    text-align: center;
  }
  section.faqs h3 {
    font-size: 13px;
  }
}
